body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: lightgray;
}

/* NAVIGATION BAR */

nav{
    background-color: #F4C2C2;
    height: 80px;
    width: 100%;
}

.title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: black;
    text-decoration: none;
    line-height: 80px;
    padding: 0 50px;
}

.nav-icon{
    color: black;
}

label.nav-logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin: 0;
    padding: 20px 20px;
    display: flex;
}

nav ul li{
    list-style: none;
    text-align: center;
    display: block;
    padding: 0 10px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
}

nav ul li:last-child{
    border-right: none;
}

ul li a .nav-icon{
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

ul li a .nav-icon .fa{
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    transition: 0.5s;
    color: #000;
}

ul li a .nav-icon .fa:last-child{
    color: #e91e63;
}

ul li a:hover .nav-icon .fa{
    transform: translateY(-100%);
}

.checkbtn{
    font-size: 40px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}

#check{
    display: none;
}

@media(max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
}

@media(max-width: 858px){
    .checkbtn{
        display: block;
    }

    nav ul{
        flex-direction: column;
        position: fixed;
        height: 100vh;
        top: 150px;
        margin-left: 42.5%;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    ul li a .nav-icon{
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        height: 60px;
        padding-top: 20px;
        margin: 0 auto;
        overflow: hidden;
    }

    nav ul li {
        display: block;
        border: none;
    }

    #check:checked ~ ul{
        left:0;
    }
}

/* MAIN BOX */
.main-box{
    width: 70%;
    margin: 60px auto 0;
    height: 80vh;
    display: flex;
    justify-content: space-around;

    /*border: 1px solid black;*/
}

/* IMAGES BOX */
.images-box{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    /*border: 1px solid black;*/
}

.main-image{
    height: 90%;
    width: 100%;
}

.small-images-box{
    width: 100%;
    height: 10%;
    display: flex;
}

.small-image{
    height: 100%;
    width: 12.5%;
    border: 1px solid lightgray;
}

.small-image img{
    height: 100%;
    width: 100%;
}

/* DETAILS BOX */
.details-box{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /*border: 1px solid black;*/
}

/* PRODUCT DETAILS BOX */
.product-details-box{
    width: 100%;
    height: 50%;
    background-color: #F4C2C2;
    padding: 10px;
    box-shadow: -20px 30px 40px rgba(0, 0, 0, 0.3);
    border-radius: 20px;

    /*border: 1px solid black;*/
}

.product-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    height: 5%;
}

.product-details{
    font-size: 18px;
    line-height: 1.25;
}

.product-state,
.product-price,
.delivery-details,
.delivery-location{
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.date{
    font-size: 12px;
    font-style: italic;
}

/* SELLER DETAILS BOX */

.seller-details-box{
    width: 100%;
    height: 30%;
    background-color: #F4C2C2;
    padding: 10px;
    box-shadow: -20px 30px 40px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.seller-names-box{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.seller-names{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -10px;
}

.seller-rating-box{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    margin-bottom: -30px;
    margin-top: 10px;
}

.star{
    color: #FFDF00;
}

.seller-rating-box a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-left: 10px;
}

.seller-rating-box a:hover{
    text-decoration: underline;
}

.contact-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: -30px;
}

.seller-email,
.seller-phone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    border: 1px solid black;
    border-radius: 10px;
}