<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SellBy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/cssandjs/productPage.css">
    <link th:href="@{/styles/cssandjs/productPage.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="../static/js/cssandjs/mainPage.js"></script>
    <script th:src="@{/js/cssandjs/productPage.js}"></script>
    <script src="https://kit.fontawesome.com/e051e815bc.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</head>
<body>
<!-- NAVIGATION BAR -->
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
    </label>
    <a class="title" href="/">SellBy</a>
    <ul>
        <li>
            <a href="#">
                <div class="nav-icon">
                    <i class="fa fa-solid fa-message fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-solid fa-message fa-2x" aria-hidden="true"></i>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="nav-icon">
                    <i class="fa fa-solid fa-heart fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-solid fa-heart fa-2x" aria-hidden="true"></i>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="nav-icon">
                    <i class="fa fa-solid fa-cart-shopping fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-solid fa-cart-shopping fa-2x" aria-hidden="true"></i>
                </div>
            </a>
        </li>
        <li>
            <a href="/login">
                <div class="nav-icon">
                    <i class="fa fa-solid fa-user fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-solid fa-user fa-2x" aria-hidden="true"></i>
                </div>
            </a>
        </li>
    </ul>
</nav>
<!-- MAIN BOX (photos and 2 details boxes) -->
<div class="main-box">
    <!-- PHOTOS BOX -->
    <div class="images-box">
        <img class="main-image" th:src="@{'/images/' + ${product.GetPhotos().get(0).GetPath()}}">
        <div class="small-images-box">
            <div class="small-image" th:each="photo, i : ${product.GetPhotos()}" th:unless="${i.index == 0}">
                <img th:src="@{'/images/' + ${photo.GetPath()}}">
            </div>
        </div>
    </div>
    <!-- PRODUCT DETAILS BOX -->
    <div class="details-box">
        <div class="product-title">
            <p th:text="${product.GetName()}"></p>
        </div>
        <div class="product-details-box">
            <p class="date" th:text="'Posted on '"></p>
            <p class="product-details" th:text="${product.GetDescription()}"></p>
            <div class="product-state">
                <p th:text="'State: ' + ${product.GetState().ToString()}"></p>
            </div>
            <div class="product-price">
                <p th:text="'Price:' + ${product.GetPrice()}"></p>
            </div>
            <div class="delivery-details">
                <p>
                    <span th:if="${product.GetIsBuyerPayingDelivery()}">Buyer pays delivery</span>
                    <span th:unless="${product.GetIsBuyerPayingDelivery()}">Seller pays delivery</span>
                </p>
            </div>
            <div class="delivery-location">
                <p th:text="'Seller location: ' + ${product.GetSeller().GetCityAndCountry()}"></p>
            </div>
        </div>
        <!-- CONTACT BOX -->
        <div class="seller-details-box">
            <div class="seller-names-box">
                <p class="seller-names" th:text="${product.GetSeller().GetNames()}">
                <p class="date" th:text="'Active on SellBy since ' + ${product.GetSeller().GetCreatedDate()}">
            </div>
            <div class="seller-rating-box" th:if="${sellerRating == -1}">
                <p class="no-rating-text">
                    The user doesn't have any comments yet
                </p>
            </div>
            <div class="seller-rating-box" th:if="${sellerRating != -1}">
                <div class="star">
                    <i class="fa-solid fa-star fa-2xl"></i>
                </div>
                <div class="star">
                    <span th:if="${sellerRating < 1.25}">
                        <i class="far fa-star fa-2xl"></i>
                    </span>
                    <span th:if="${sellerRating >= 1.25 and  sellerRating < 1.75}">
                        <i class="fas fa-star-half-alt fa-2xl"></i>
                    </span>
                    <span th:if="${sellerRating >= 1.75}">
                        <i class="fas fa-star fa-2xl"></i>
                    </span>
                </div>
                <div class="star">
                    <span th:if="${sellerRating < 2.25}">
                        <i class="far fa-star fa-2xl"></i>
                    </span>
                    <span th:if="${sellerRating >= 2.25 and  sellerRating < 2.75}">
                        <i class="fas fa-star-half-alt fa-2xl"></i>
                    </span>
                    <span th:if="${sellerRating >= 2.75}">
                        <i class="fas fa-star fa-2xl"></i>
                    </span>
                </div>
                <div class="star">
                    <span th:if="${sellerRating < 3.25}">
                        <i class="far fa-star fa-2xl"></i>
                    </span>
                    <span th:if="${sellerRating >= 3.25 and  sellerRating < 3.75}">
                        <i class="fas fa-star-half-alt fa-2xl"></i>
                    </span>
                    <span th:if="${sellerRating >= 3.75}">
                        <i class="fas fa-star fa-2xl"></i>
                    </span>
                </div>
                <div class="star">
                    <span th:if="${sellerRating < 4.25}">
                        <i class="far fa-star fa-2xl"></i>
                    </span>
                    <span th:if="${sellerRating >= 4.25 and  sellerRating < 4.75}">
                        <i class="fas fa-star-half-alt fa-2xl"></i>
                    </span>
                    <span th:if="${sellerRating >= 4.75}">
                        <i class="fas fa-star fa-2xl"></i>
                    </span>
                </div>
                <a href="#" th:text="${commentsCount} + ' comments'"></a>
            </div>
            <div class="contact-box">
                <div class="seller-email">
                    <p th:text="${product.GetSeller().GetEmail()}"></p>
                </div>
                <div class="seller-phone">
                    <p th:text="${product.GetSeller().GetNumber()}"></p>
                </div>
            </div>
            </p>
        </div>
    </div>
</div>

</body>
</html>